*{
  box-sizing: border-box; 
  margin: 0 ; padding: 0;
  color: white;
}
body{
  /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
  /* background: linear-gradient(90deg,#6F00ED 0%, #DB0B5F 100%); */
  background-color: #FFFFFF;
}
.App{
  display:flex; flex-direction:column;
  justify-content: center;
  align-items: center; width:100%; height:100vh;
}
.App-header{
  box-shadow: 0px 0px 12px #FFFFFF;
  border-radius:118px; padding:3rem; 
  background: linear-gradient(90deg,#6F00ED 0%, #DB0B5F 100%);
}
input{
  width:100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  margin-bottom: 28px ;
  border-radius: 8px;
  color: #DE4839; 
}

.btn{
  display:inline-block; background-color: #000000; color:#FFFFFF ;
  width:100%; font-size: 1.2rem; margin: 8px 0; padding: 10px 0 ;
  border-radius:118px; border: 1px solid;
  cursor:pointer; border-color: linear-gradient(to right, red, orange);
  background: linear-gradient(to right, red, orange);
  
}
.btn-outline{
  background-color: #FFFFF0; color:#FFFFFF ;
}
.cntr{
  text-align: center; margin: 24px 0 ; margin-bottom: 28px ;
}
h2{
  font-size: 2.8rem;
}
p {
  margin: 10px 0; 
}
